<header class="masthead text-white text-left" xmlns="http://www.w3.org/1999/html">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9">
        <h1 class="mb-4">Soluciones, <br><span class="badge badge-info">Innovadoras</span> y<br>diferentes</h1>
        <br>
        <p>Nos enfocamos en el desarrollo de proyectos innovadores de alto impacto.</p>
        <br>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="form-row">
          <div class="col-12 col-md-12">
            <h4 class="text-info">info@athmos.co</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!--<section class="features-icons bg-light text-center">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-4">-->
<!--        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">-->
<!--          <div class="features-icons-icon d-flex">-->
<!--            <i class="icon-screen-desktop m-auto text-primary"></i>-->
<!--          </div>-->
<!--          <h3>Fully Responsive</h3>-->
<!--          <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4">-->
<!--        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">-->
<!--          <div class="features-icons-icon d-flex">-->
<!--            <i class="icon-layers m-auto text-primary"></i>-->
<!--          </div>-->
<!--          <h3>Bootstrap 4 Ready</h3>-->
<!--          <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4">-->
<!--        <div class="features-icons-item mx-auto mb-0 mb-lg-3">-->
<!--          <div class="features-icons-icon d-flex">-->
<!--            <i class="icon-check m-auto text-primary"></i>-->
<!--          </div>-->
<!--          <h3>Easy to Use</h3>-->
<!--          <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters" id="nosotros">
      <div class="col-lg-6 order-lg-2 text-white showcase-img img-grayscale"
           style="background-image: url('../../../assets/img/bg-showcase-1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h3>Nuestra experiencia. Conoce más sobre lo que hacemos</h3>
        <p class="lead mb-0">Nos enorgullece ayudar a nuestros clientes a obtener los resultados mas optimos en lo que
          respecta a sus proyectos.</p>
        <h4>Ideas Innovadoras generadas este mes por nuestro team:</h4>
        <span>29</span>
      </div>
    </div>
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h3 class="mb-5">Más de 100 clientes y 152 proyectos ejecutados.</h3>
        <p class="lead mb-0">Nuestros clientes representan uno de los pilares de nuestra empresa, dedicamos con pasión y
          creatividad
          nuestro tiempo cada dia para materializarlo en soluciones que impactan al mundo y al en el éxito de cada uno
          de ellos. Entendemos a nuestros clientes como grupos de personas con sueños y visiones similares a las
          nuestras, que eligen cada día a nosotros para ser parte de su éxito. Algunos de ellos aquí:</p>
        <div class="row p-3">
          <div class="col-lg-4">
            <div class="card text-left">
              <div class="card-body">
                <h5 class="card-title">Frame755 SA.</h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> Suiza</h6>
                <p class="card-text"><a href="http://frame755.com/" class="text-info">Ir a Frame755</a></p>
                <hr>
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <p class="font-weight-light mb-0">Desarrollo mql4 y soporte tecnológico en FX autotrading.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-left">
              <div class="card-body">
                <h5 class="card-title">Creed and Bear AG.</h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> Suiza</h6>
                <p class="card-text"><a href="http://creedandbear.com/" class="text-info">Ir a Creed and Bear</a></p>
                <hr>
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <p class="font-weight-light mb-0">Desarrollo fintech y soporte tecnológico en crypto plataformas
                    digitales.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-left">
              <div class="card-body">
                <h5 class="card-title">Kron trading</h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> Italia</h6>
                <br>
                <hr>
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <p class="font-weight-light mb-0">Desarrollo fintech crypto token y plataforma de crypto
                    management.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-lg-4">
            <div class="card text-left">
              <div class="card-body">
                <h5 class="card-title">Web Concept Swiss</h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> Suiza</h6>
                <br>
                <!--                <p class="card-text"><a href="http://frame755.com/" class="text-info">Ir a Frame755</a></p>-->
                <hr>
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <p class="font-weight-light mb-0">Desarrollo de plataformas online y aplicaciones web.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-left">
              <div class="card-body">
                <h5 class="card-title">Petro Suisse SA.</h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> Suiza</h6>
                <p class="card-text"><a href="http://petrosuisse.ch/" class="text-info">Ir a Petro Suisse</a></p>
                <hr>
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <p class="font-weight-light mb-0">Desarrollo de corporate branding y website.</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-left">
              <div class="card-body">
                <h5 class="card-title">Euro Petrol Distribution SA.</h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> Romania</h6>
                <p class="card-text"><a href="http://www.europetroldistributionsrl.eu/" class="text-info">Ir a Euro
                  Petrol Distribution</a></p>
                <hr>
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <p class="font-weight-light mb-0">Desarrollo de corporate branding y website.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="row no-gutters" id="Finance">
      <div class="col-lg-6 text-white showcase-img img-grayscale"
           style="background-image: url('../../../assets/img/bg-showcase-2.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Athmos Finance</h2>
        <p class="lead mb-0">Una puerta al mundo financiero digital del futuro. Concentrando cada uno de nuestros
          esfuerzos en la investigación y el desarrollo de nuevas estrategias, productos y servicios que tienen hoy un
          impacto en nuestra vida, cambian nuestro entorno y el mundo en el que vivimos.</p>
      </div>
    </div>
    <div class="row no-gutters" id="Digital">
      <div class="col-lg-6 order-lg-2 text-white showcase-img img-grayscale"
           style="background-image: url('../../../assets/img/bg-showcase-3.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Athmos Digital</h2>
        <p class="lead mb-0">Nos focalizamos en todos y cada uno de los desafíos futuros digitales. Soluciones de
          desarrollo de proyectos para pequeñas, medianas y grandes empresas que buscan la correcta ejecución de sus
          proyectos tecnológicos, nos especializamos en el desarrollo de sistemas, aplicaciones móviles, desarrollo y
          diseño de paginas web personalizadas según el requerimiento de cada cliente.</p>
      </div>
    </div>
    <div class="row no-gutters" id="Recruiting">
      <div class="col-lg-6 text-white showcase-img img-grayscale"
           style="background-image: url('../../../assets/img/bg-showcase-4.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Athmos Recruiting</h2>
        <p class="lead mb-0">Entendemos que detrás de las empresas y los proyectos que cambian el mundo, siempre hay
          detrás un increíble grupo de personas, con sueños, visiones, motivadas por crecer y aportar valor al mundo.
          Dejar sus huellas en la tierra..</p>
      </div>
    </div>
    <div class="row no-gutters" id="theCircle">
      <div class="col-lg-6 order-lg-2 text-white showcase-img img-grayscale"
           style="background-image: url('../../../assets/img/bg-showcase-5.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Athmos The Circle</h2>
        <p class="lead mb-0">El ser humano necesita relacionarse, las grandes cosas nacen desde la confianza y la
          relación con las personas que dejamos entrar en nuestra vida, en nuestros círculos. Creemos que todo funciona
          sobre la base de círculos, familia, amigos, conocidos. Cada uno decide quien deja entrar en sus círculos,
          quien se va y quien se queda para siempre.</p>
      </div>
    </div>
  </div>
</section>

<!--Ultimas Historias-->
<section class="testimonials text-center bg-footer" id="news">
  <div class="container">
    <h3 class="mb-5">Ultimas Historias</h3>
    <p class="lead mb-0">Chequea nuestro blog de noticias y mantente informado sobre lo que hacemos y mucho mas.</p>
    <div class="row p-3">
      <div class="col-lg-4">
        <div class="card text-left">
          <img src="../../../assets/img/bg-showcase-6.jpg" class="card-img-top img-grayscale" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="http://athmos.co/blog-detail.html" class="text-white">From a small startup
              to a leading global agency in 10 Years</a></h5>
            <h6 class="card-subtitle mb-2 text-info">Feb 4, 2020</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-left">
          <img src="../../../assets/img/bg-showcase-7.jpg" class="card-img-top img-grayscale" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="http://athmos.co/blog-detail.html" class="text-white">How google’s BERT
              algorithm affects your website traffic</a></h5>
            <h6 class="card-subtitle mb-2 text-info">Feb 15, 2020</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-left">
          <img src="../../../assets/img/bg-showcase-8.jpg" class="card-img-top img-grayscale" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="http://athmos.co/blog-detail.html" class="text-white">Five reasons why you
              must create a website for your company</a></h5>
            <h6 class="card-subtitle mb-2 text-info">Sep 19, 2020</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <a href="http://athmos.co/news" class="btn btn-info btn-block btn-lg rounded-pill">Ver todas las publicaciones <i
          class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
<!-- Contactanos -->
<section class="testimonials text-center bg-light" id="contacto">
  <div class="container">
    <h3 class="mb-5">Contactanos</h3>
    <p class="lead mb-0">Dejanos tu numero de telefono y con gusto te llamaremos a la brevedad
      posible, recuerda que puedes estar recibiendo nuestra llamada en menos de 24 horas.</p>
    <div class="row p-3">
      <div class="col-6">
        <div class="card bg-light border-info mb-3 text-white">
          <h5 class="card-title text-left p-3">Nos encuentras en las siguientes oficinas:</h5>
          <div class="card-body">
            <iframe
              src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.467781915325!2d-74.11365928573679!3d4.68847534307013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b42b98fe64b%3A0x888ac3494e0d7dba!2sCl.%2065%20Bis%20%2386-50%2C%20Bogot%C3%A1%2C%20Colombia!5e0!3m2!1ses!2sve!4v1588699293918!5m2!1ses!2sve"
              width="400" height="300" frameborder="0" class="page_speed_1308288117" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
            <iframe
              src="//www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3976.515406220517!2d-74.0554718!3d4.6801008!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a934b93e3e9%3A0x66f3b030b43ff5be!2sCl.%2093b%20%2318-12%2C%20Bogot%C3%A1%2C%20Colombia!5e0!3m2!1ses!2sve!4v1588699020271!5m2!1ses!2sve"
              width="400" height="300" frameborder="0" class="page_speed_1308288117" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white bg-light border-info mb-3">
          <h4 class="card-title text-left p-3">Necesitas asistencia? por favor completa los campos</h4>
          <form method="post" action="//athmos.co/contact" class="card-body container">
            <div class="form-group">
              <input type="text" placeholder="nombre completo" class="form-control"/>
            </div>
            <div class="form-group">
              <input type="text" placeholder="numero de telefono" class="form-control"/>
            </div>
            <div class="form-group">
              <select name="" id="" class="form-control">
                <option selected disabled>Por donde prefieres que nos comuniquemos contigo</option>
                <option value="Whatsapp">WhatsApp</option>
                <option value="Llamada Telefonica">Llamada Telefonica</option>
              </select>
            </div>
            <div class="form-group">
              <input type="checkbox" id="check" name="check" class="form-check-input ml-auto">
              <label for="check">Acepto los
                <a href="" class="text-info">terminos y condiciones de uso</a> y
                <a href="" class="text-info">politica de privacidad</a> que Athmos SAS dispone.</label>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-info btn-lg btn-block rounded-pill">Enviar solicitud de contacto <i
                class="fas fa-arrow-right"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer class="footer bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="text-info">Donde estamos? como contactarnos?</h5>
        <ul>
          <li>info@athmos.co</li>
          <li>Teléfonos: (+57 1 )384 1737</li>
          <li>Calle 65 BIS # 86 - 50</li>
        </ul>
        <h6>© Copyright 2020 <span class="text-info">Athmos SAS</span> Todos los derechos reservados.</h6>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#" class="text-info">Inicio</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#" class="text-info">Nosotros</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#" class="text-info">Trabaja con mosotros</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#" class="text-info">Politicas de privacidad</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="https://api.whatsapp.com/send?phone=573153113979&text=Buen%20dia," class="text-info">
              <i class="fab fa-whatsapp fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.instagram.com/athmosglobal/" class="text-info">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
